# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# LOG
*.log

#pyc files
*.pyc
result/


pop/PopUI/demoprj/conf.py
pop/PopUI/demoprj/conf.py
pop/PopUI/walterDebug.py
pop/PopUI/demoprj/testcase/_testalarmbubble.py
pop/PopUI/.idea/workspace.xml
pop/PopUI/demoprj/page/_temp.py
pop/PopUI/.idea/workspace.xml
pop/PopUI/.idea/workspace.xml
pop/PopUI/.idea/pop.iml
